body {
	font: "Trebuchet MS", Verdana, sans-serif;
	color: black;
}

.body-content{
	margin:0 10px 0 0;
	padding:5px;
	min-height: 150px;
}

.content{
	margin:0 0 0 160px;
	border:none;
	height:100%;
	position:relative;
}

h1 {
	font: Georgia, serif;
	color: #6a869d;
}

#main {
	padding: 20px;
	background-color: #ffffff;
	border-radius: 0 4px 4px 4px;
}

a {
	color: #034af3;
}

/* Menu styles ------------*/
ul#menu {
	padding: 0px;
	position: relative;
	margin: 0;
}

	ul#menu li {
		display: inline;
	}

		ul#menu li a {
			background-color: #e8eef4;
			padding: 10px 20px;
			text-decoration: none;
			line-height: 2.8em;
			border-radius: 4px 4px 0 0;
		}

			ul#menu li a:hover {
				background-color: #ffffff;
			}

/* Forms Styles--------------------*/
fieldset {
	padding-left: 12px;
}

fieldset label {
	display: block;
	padding: 4px;
}

input[type=" text"], input[type="password"] {
	width: 300px;
}

input[type="submit"] {
	padding: 4px;
}

/* Data Styles -------------------*/
table {
	background-color: #ffffff;
	border: 1px solid #c3c3c3;
	border-collapse: collapse;
	width: 100%;
}

	table th {
		background-color: #e8eef4;
		border: 1px solid #c3c3c3;
		padding: 3px;
	}

	table td {
		border: 1px solid #c3c3c3;
		padding: 3px;
	}

/* header*/
.header {
	height: 40px;
	margin-right: 15px;
	margin-left: 20px;
	border-bottom: 3px solid #151a1f;
}

.header-title {
	font: Georgia, serif;
	color: #6a869d;
	text-decoration: none;
}

.header-right {
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}

.header-left {
	float: left;
	margin-right: 15px;
}

.loginInfo {
	font: "Trebuchet MS", Verdana, sans-serif;
	font-size: large;
	color: #6a869d;
	list-style: none;
}

.loginInfo li {
	display:inline-block;
	padding-right: 10px;
}

.loginInfo li a {
	color: black;
	text-decoration: none;
}

/* Left menu*/

.leftMenu{
	border-right: 3px solid #6a869d;
	position:static;
	float:left;
	width:150px;
	height:100%;
	padding:0;
	font-size: 20px;
}

.leftMenuItems{
	width:15%;
	list-style: none;
	margin-left:0px;
}