<ul class="leftMenuItems">
	<li>@Html.ActionLink("Home","Index","Home")</li>
	<li>@Html.ActionLink("Products", "Index", "Store")</li>
	<li>@Html.ActionLink("Customers", "Index", "Customer")</li>
</ul>
